@font-face {
    font-family: garet;
    src: url(../fonts/garet-Regular.ttf);
 
  }


.clienteex{
    width: 80vw;
    height: 100%;
   
    display: grid;
    background: #CABE82;

    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
   
    text-align: left;
    text-decoration: none;
    color: #000;
    padding-left: 15px;
   
        font-family: 'garet';
        font-style: normal;
        font-size: 25px;
        transition: all .2s ease-in-out;
   
    
   
 
    }

    .INFO{
        margin-bottom: 20px;
        padding-top: 15px;
        margin-left: 25px;
    }
    

    .font{
        user-select: none;
        text-decoration: none;
        color: #000;
        font-family: 'garet';
     
     font-size:20px;
    
        
       
     
        }


    #lista{
 
    justify-content: center;
    margin-left: 14rem;
    margin-top: 1rem; 
    height: auto;
    width: auto;


}

.headerhis {
    display: inline-block;
    margin-left: 1rem;
    font-size: 30px;
}

.vertical{
    border-left: 3px solid black;
            height: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
}

.info{
    text-decoration: underline; 
}

#bntliscli{
    text-align: right;
    height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   
   
    
    }
    /* #bntliscli2{
        text-align: right;
        height: auto;
        margin-left: 38.5%;
        position: fixed;
        top: 0;
        margin-top: 15px;
        width: fit-content;
        
        } */

    #bnt{
        user-select: none;
        cursor: pointer;
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 19px;
        font-family: "garet";
        text-align: center;
        text-decoration: none;
        width: 250px;
        height: 40px;
        margin-right: 5px;
        padding-top: 5px;
        background-color: #CABE82;
        color: #000;
        border: 2px solid #000000;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    #bnt:hover{  
        text-decoration: none;
        transform: scale(1.05);
    
    }

     #bnt2:hover{  
        text-decoration: none;
        transform: scale(1.05);
    
    }
    #bnt2{
        cursor: pointer;
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 19px;
        font-family: "garet";
        text-align: center;
        text-decoration: none;
        margin-right: 5px;
        width: auto;
        height: 40px;
        padding: 5px;
        background-color: #CABE82;
        color: #000;
        border: 2px solid #000000;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 10px;
    }

    #headerclihis {
        position: sticky;
        top: 0;
        height: 76px;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 10px;
        font-family: "garet";
        font-size: 25px;
        background-color: #CABE82;
        color: #000;
        z-index: 5;
        box-shadow: 0px 5px 10px #82805e;
        width: auto;
        /* margin-left: 285px; */
        padding-left: 190px;
        align-items: center;
    }

    .sectionone{
        user-select: none;
        text-align: center;
    }