/* Geral */
@font-face {
    font-family: garet;
    src: url(../fonts/garet-Regular.ttf);
  }

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{

    height: 100%;
}

body{


    background: linear-gradient(180deg, #C19277 0%, #B6A752 100%);
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(193,146,119,1) 0%, 
          rgb(158, 150, 106) 25%, 
          rgb(102, 94, 48) 50%,
          rgba(182,167,82,1) 100% 

    );
    animation: AnimateBG 30s ease infinite;
}

@keyframes mudar{
    from {background-color: #910303;}
    to {background-color: #B6A752}
      }

textarea:focus, input:focus { 
  outline: none;
}

label{ 
  font-size: 17px;
  font-family: "garet";
  color: #FFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

/* Container Login */

img{

width: 230px;
height: 140px;

}

/* Formulário */

form{

    margin-top: 30px;
    margin-bottom: 40px;
}

label, input{
    display: block;
    width: 100%;
    text-align: left;
}

input{
border-bottom: 3px solid #000;
padding: 10px;
font-size: 1rem;
height: 40px;
width: 425px;
margin-bottom: 20px;
border-radius: 15px;
background-color: #a6a378;
}

input[type="submit"]{

text-align: center;
align-content: top;
font-weight: bold;
border: 3px solid #000;
height: 50px;
width: 243px;
border-radius: 15px;
background-color: #a6a378;
cursor: pointer;
margin-left: auto;
font-size: 20px;
margin-right: auto;
font-family: "garet";
}

#forgotpass{
    color: #000000;
    font-weight: bold;
    font-size: 12px;
    font-family: "garet";
}
/* Container Login */

#login-container {

  background-color: #CABE82;
    border-bottom: 2px solid #000000;
    width: 473px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 0px;

    animation: mudar 1s
}

img{

width: 230px;
height:140px; }

.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
          -45deg, 
          rgba(59,173,227,1) 0%, 
          rgba(87,111,230,1) 25%, 
          rgba(152,68,183,1) 51%, 
          rgba(255,53,127,1) 100%
    );
    animation: AnimateBG 20s ease infinite;
  }

  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }

  @keyframes mudar{
    from {background-color: #910303;}
    to {background-color: #CABE82;}
      }