/* Geral */
@font-face {
    font-family: garet;
    src: url(../fonts/garet.book.ttf);
  }



#principal {

  
    height: 100vh;
    background: #A6A378;
    width: 100vw;

    position: absolute;

}


div ::selection{background-color: transparent;}



a.link{
    display: inline-block;
    text-decoration: none;
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

#test {

    padding-right: 100px;
}


body {
    background: #A6A378;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

textarea:focus,
input:focus {
    outline: none;
}




label,
#teste {
    font-size: 15px;
    font-weight: bold;
    font-family: "garet";
    user-select: none;
}

/* Menu Vertical */

#menuho {

    display: grid;
    height: 100%;
    justify-items: center;
    justify-content: center;
    background-color: #CABE82;
    /* width: 285px; */
    width: 170px;
    box-shadow: 10px 5px 10px #82805e;
    z-index: 1;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width .5s;
}

#menuho:hover {
    width: 285px;

    transition: width 1s;

}

#menuho:hover .sidebtn {
    width: 240px;
    transition: width 1s;
}

#menuho:hover .MP {

    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 19px;
    font-family: "garet";
    text-align: center;
    text-decoration: none;
    opacity: 1;

    transition-delay: .7s;
    transition-duration: 0.5s;

}

#menuho:hover #sairadjustment {
    display: inline-block;
}

#menuho:hover #nome {
    
    font-family: "garet";
    font-size: 18px;
    width: 40%;
    opacity: 1;
text-align: left;
margin-left: 10px;

    transition-property: opacity;
    transition-delay: .7s;
    transition-duration: .5s;
}

.MP {

    display: inline-block;
    opacity: 0;
    /* color: black;
        font-weight: bold;
        font-size: 19px;
        font-family: "garet";
        text-align: center;
        text-decoration: none; */

    transition-property: opacity;
    transition-delay: .0s;
    transition-duration: .0s;
    transition-timing-function: linear;





}

#scroll {

    overflow-x: hidden;
    display: inline-block;
}


#operador {
    display: flex;
    align-items: center;
    justify-content: space-evenly;



    position: sticky;

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: linear;


    margin-bottom: 10px;
}





.logo {

    width: 140px;
    height: auto;
    user-select: none;
}


.sidebtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #A6A378;
    border: 3px solid #000000;
    border-radius: 15px;
    /* width: 240px; */
    width: 100px;
    height: 70px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    transition: width 1s;
    text-decoration: none;
}



#sairadjustment {
    display: none;
}


.imgbtn {
    width: 55px;
    user-select: none;
}

h1 {
    font-size: 25px;
    text-align: top;
}

#icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: inline-block;
    user-select: none;
    
border: 3px solid black;
padding: 1px;

    transition-duration: 1s;
    transition-timing-function: linear;
    object-fit: cover; 

}

#nome {

    display: inline-block;
    opacity: 0;

    font-size: 0;
    transition-property: opacity;
    transition-delay: .0s;
    transition-duration: .5s;
    transition-timing-function: linear;
    /* display: inline-block;
    font-family: "garet";
    font-size: 18px;
    width: 40%; */
}

/* Header */
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 10px;
    font-family: "garet";
    font-size: 25px;
    background-color: #CABE82;
    color: #000;
    z-index: 5;
    box-shadow: 0px 5px 10px #82805e;
    width: auto;
    /* margin-left: 285px; */
    padding-left: 190px;

}

#titulo {
    user-select: none;
    display: inline-block;


}

.icones {
    cursor: pointer;
    height: 56px;
    width: 56px;
    user-select: none;


}




#graf {
    display: inline-block;
    position: sticky;
margin-left: 15px;
}

#carrinho {
    display: inline-block;



}



#teste {
    margin-left: 12rem;
    margin-top: 1rem;
    display: inline-block;
    font-size: 48px;
    user-select: none;


}

.teste2 {
    padding: 5px;
    margin-left: 12rem;
    margin-top: 1rem;
    background: #CABE82;
    border: 3px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 80%;
    height: 135px;
    font-size: 50px;
    text-decoration: none;
    padding-bottom: 15px;
    color: #000;
    display: flex;
    justify-content: space-evenly;
}




.info {
    font-family: 'garet';
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    
    
}

.pen {
    font-family: 'garet';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: left;


}

.sectionone {
    border-right:black 3px solid;
    margin-top: 0px;
    width: 20%;
    margin-left: 20px;
    user-select: none;




}

.sectiontwo {
    width: 30%;
    display: inline-block;
    margin-left: 10px;
    border-right:black 3px solid;
    user-select: none;



}


.sectionthree {
    width: 30%;
    display: inline-block;
    margin-left: 10px;
    user-select: none;




}


.header {

    display: flex;
    align-items: center;

    width: auto;
    margin-right: 0;




}

#grafico {
    margin-left: 20px;
}

#carrinho {
    margin-right: 30px;
}

.vendidos {
    display: flex;
    align-items: center;

}




/* aba configurações */

.config-scn {
    
    padding-top: 20px;
    border-left: 0px solid #000000;
    border-bottom-left-radius: 10px;
    display: grid;
    height: 0px;
    justify-items: center;
    justify-content: center;
    background-color: #CABE82;
  
    /* width: 285px; */
    width: 250px;
    box-shadow: -10px 5px 10px #82805e;
    z-index: 1;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all 1s;
       
    
}

#conf:hover{
    cursor: pointer;
}

#carrinho:hover{
    cursor: pointer;
}



#linksconf{


text-align: center;
justify-content: center;
width: 100%;
height: 100%;

font-family: "garet";
font-size: 18px;
 /* padding-top: 75px;  */
 opacity: 0;

 transition-delay: .7s;
 transition-duration: 0.5s;



}

.lkc{
    text-decoration: none;
    color: #000;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #A6A378;
    border: 3px solid #000000;
    border-radius: 15px;
    /* width: 240px; */
    width: 200px;
    height: 70px;

    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    box-shadow: 10px 5px 10px #82805e;
    text-decoration: none;
    margin-top: 25px;
    


}



.car-scn {
    
    border-left: 0px solid #000000;
    border-bottom-left-radius: 10px;

    height: 100%;
  
    background-color: #CABE82;
  
    /* width: 285px; */
    width: 0px;
    box-shadow: -10px 5px 10px #82805e;
 position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: all 1s;
       
    
}

.header-hist{
    z-index: 0;
}

.centro{
   padding: 20px; 
   align-items: center; 
   display: flex; 
   justify-content: center;
}


.txt{
    font-weight: bold;
    font-family: "garet";
}




