@font-face {
    font-family: garet;
    src: url(../fonts/garet-Regular.ttf);
  }

  @font-face {
    font-family: garet;
    src: url(../fonts/garet-Regular.ttf);
  }

.pedidoex{
    width: 75vw;
    height: auto;
    min-height: 750px;
    padding: 15px;
    padding-bottom: 10px;
    margin-left: 250px;
    left: 0;
    margin-top: 1rem;
    background: #CABE82;
    border: 3px solid #000000;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
 margin-bottom: 30px;
  
    }
    
    #seta {
       
    width: 61px;
    height: 61px;
    cursor: pointer;
    height: fit-content;
    display: inline-block;

    
    
    }
    
    
    .headerpedido{
        margin-top: 20px;
        margin-left: 60px;
        font-weight: 400;
        font-family: "garet";
        height: min-content;

       
        position: relative;
    }
    
    .conteudohead{
        margin-top: 20px;
    
        width: auto;
        font-family: "garet";
        text-align: left;

   
    }

    
    .conteudohead2{
        margin-top: 20px;
    
        width: auto;
        font-family: "garet";
        text-align: center;

   
    }

    .idbottom{
        margin-top: 100%;
        width: auto;
        font-family: "garet";
 
    }

    .vendabottom{
        margin-top: 53%;
        width: auto;
        font-family: "garet";

    }

    .totalpreco{
        display: block;
   align-self: flex-end;
        width: auto;
        font-family: "garet";

    }
    
    .pedidocont1{
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
      
        width: 150px ;
        border-right: 2px solid black;
   
    
    
    
    }
    
.pedidocont2{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 450px ;
    border-right: 2px solid black;

   

}

.pedidocont3{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    width: 250px ;


}

  

    .conteudo{
    padding-top: 10px;
        width: fit-content;
        font-family: "garet";
        position: relative;
   
        font-size: 20px;
        margin-top: 2.25px;


    }

    .conteudo2{
        padding-top: 10px;

            width: auto;
            font-size: 15px;
            font-style: bold;
            font-family: "garet";
            position: relative;
        }
     .conteudo3{
        padding-top: 10px;
        width: auto;    
        font-family: "garet";
        position: relative;
        font-size: 20px;
        margin-top: 2.25px;
    
        text-align: center;
            }
    

    .headerp{

display: flex;
height: fit-content;
width: 100%;
text-decoration: none;
align-items: center;
}


#conteudo {

display:flex;
width: 100%;




}


#bntliscli{
    text-align: right;
  
    /* border: red 3px solid; */
    align-self: flex-end;
    display: inline-block;

   



}    

#bnt{
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
    font-size: 19px;
    font-family: "garet";
    text-align: center;
    text-decoration: none;
    width: 250px;
    height: 50px;
    padding-top: 10px;
    background-color: #CABE82;
    border: 2px solid #000000; 
     box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 15px;
}

#bnt:hover{

    background-color: #cabe99;
}

.tabelafinal{
    height: 100%; 
    width: 100%; 
    margin-top: 20px;


}